body {
	color: #222;
	background-color: white;
	font-family: Verdana, Helvetica, sans-serif;
	font-size: 11pt;
	margin: 0px;
}

#navbar {
	color: #ccc;
	background-image: linear-gradient(to top, #000 0%, #555 100%);
	width: 100%;
	height: 32px;
	font-size: 10pt;
	font-weight: bold;
	text-shadow: -1px -1px 0 #000;
}

#titlebar {
	clear: both;
	padding: 5px 20px;
	background-image: linear-gradient(to top, #ddd 0%, #fff 100%);
	border-color: #ccc;
	border-style: solid;
	border-width: 1px;
}

#content {
	clear: both;
	margin: 15px 20px;
}

#navcontent {
	margin: 0 20px;
}

h1, h2, h3, h4, h5, h6 {
	color: black;
	background-color: inherit;
	clear: both;
	font-weight: bold;
}

h1 {
	font-size: 130%;
	margin-top: 10px;
	margin-bottom: 10px;
}

h2, h3, h4, h5, h6 {
	background-image: linear-gradient(to top, #ddd 0%, #fff 100%);
	border-color: #ccc;
	border-style: solid;
	border-width: 1px;
	padding: 2px 8px;
	margin-left: -9px;
	margin-top: 1em;
	margin-bottom: 1em;
}

table {
	font-size: inherit;
}

p {
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

p.indented {
	padding-left: 3em;
}

img {
	vertical-align: middle;
}

a {
	color: inherit;
	text-decoration: none;
	background-color: transparent;
}

a:hover {
	color: #33f;
}

a:active {
	color: #33f;
}

a.navlink {
	text-decoration: none;
	background-color: transparent;
}

a.navlink:link {
	color: #ccc;
}

a.navlink:visited { 
	color: #ccc;
}

a.navlink:hover { 
	color: #fff;
}

a.navlink:active {
	color: #fff;
}

td {
	padding-right: 10px;
	padding-bottom: 5px;
	vertical-align: top;
}

a.uri {
	color: #888;
	font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
	font-size: 10px;
	word-wrap: break-word;
}

a.button {
	padding: 2px 6px;
	margin: 0 2px;
	font-size: 10pt;
	background: linear-gradient(#999, #333) repeat scroll 0 0 transparent;
	border-radius: 3px;
	color: #fff;
	text-shadow: -1px -1px 0 #222;
}

a.button:hover {
	background: linear-gradient(#666, #000) repeat scroll 0 0 transparent;
}

span.predicate {
	font-weight: bold;
	padding: 0 5px;
}

span.predicatefirst {
	font-weight: bold;
	padding: 0 5px 0 0;
}

span.hlistitem {
	margin: 0 3px;
}

span.emptylabel {
	color: #bbb;
}

span.detail {
	font-size: 8pt;
	margin: 0 0 0 5px;
}

span.ref {
	margin: 0 0 0 15px;
}

strong {
	color: black;
	font-weight: bold;
}

.alignleft {
	float: left;
}

.alignright {
	float: right;
}
