body {
	color: black;
	background-color: white;
	font-family: Verdana, Helvetica, sans-serif;
	font-size: 11pt;
	margin: 0px;
}

#content {
	margin: 20px;
}

#nav {
	color: #fff;
	background-color: #000;
	width: 100%;
	margin: 0;
	padding: 5px 20px;
	font-size: 10pt;
	font-weight: bold;
}

h1, h2, h3, h4, h5, h6 {
	color: black;
	background-color: inherit;
	clear: both;
	font-weight: bold;
}

h1 {
	font-size: 130%;
	margin-top: 0em;
	margin-bottom: 0.75em;
}

h2, h3, h4, h5, h6 {
	font-size: 110%;
	margin-top: 1em;
	margin-bottom: 0.75em;
}

table {
	font-size: inherit;
}

p {
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

p.subtitle {
	margin-bottom: 1em;
}

p.indented {
	padding-left: 3em;
}

img {
	vertical-align: middle;
}

a {
	text-decoration: none;
	background-color: transparent;
}

a:link {
	color: #222;
}

a:visited { 
	color: #222;
}

a:hover {
	color: #33f;
}

a:active {
	color: #33f;
}

a.navlink {
	text-decoration: none;
	background-color: transparent;
}

a.navlink:link {
	color: #ccc;
}

a.navlink:visited { 
	color: #ccc;
}

a.navlink:hover { 
	color: #fff;
}

a.navlink:active {
	color: #fff;
}

td {
	padding-right: 10px;
	padding-bottom: 5px;
	vertical-align: top;
}

a.uri {
	color: #888;
	font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
	font-size: 10px;
	word-wrap: break-word;
}

a.button {
	padding: 1px 4px;
	margin: 0 0 0 3px;
	background-color: #aaa;
	color: #fff;
	font-size: 11pt;
	font-weight: bold;
	border-radius: 2px;
}

a.button:hover {
	background-color: #33f;
}

span.rdfpredicate {
	font-weight: bold;
	padding: 0 8px;
}

span.hlistitem {
	margin: 0 3px;
}

span.emptylabel {
	color: #bbb;
}

strong {
	color: black;
	font-weight: bold;
}
